<ion-view view-title="Question">
  <ion-content has-header="true" padding="true" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page ng-class="{htmlBackground: question.questionCategory === 'HTML',
                                cssBackground: question.questionCategory === 'CSS',
                                jsBackground: question.questionCategory === 'Javascript'
                                }"
                      ng-repeat="question in questions">

        <div class="box" ng-if="!goAnswer">
          <h1>{{question.questionTitle}}</h1>
        </div>
        <div class="box" ng-show="goAnswer">
          <h4>{{question.questionAnswer}}</h4>
        </div>
        <div class="box" ng-show="goSample">
          <img ng-src="{{question.questionSample}}">
        </div>

        <a ng-class="{true: 'button button-clear button-light' , false: 'button button-clear button-dark'}[!goAnswer]" ng-click="goAnswer = !goAnswer">{{!goAnswer && 'Answer' || 'Back to Question'}}</a>
        <a ng-class="{true: 'button button-clear button-light' , false: 'button button-clear button-dark'}[!goSample]" ng-click="goSample = !goSample">{{!goSample && 'Sample' || 'Back'}}</a>


      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
